@use '../../styles/mixins.module' as mixins;

.formWrapper {
   &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 540px) {
            max-width: 250px;
        }

        &__inputs {

            display: flex;
            flex-direction: column;
            gap: 1rem;

            label {
                font-weight: bold;
                font-size: 1.125rem;
            }

            input {
                outline: 0;
                padding: 1rem;
                font-size: 1.5rem;
                line-height: 1.5;
                font-weight: bold;
                border-radius: 5px;  
                border: 3px solid var(--neutral--200);
            }
        }
    }
}